@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  --color-pumpkin-500: #FE750E;
  --color-pumpkin-500-20: color-mix(in srgb, #FE750E 20%, transparent);
  --color-zinc-950: #09090b;
}

:root {
  --background: #09090b;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}
